*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-backgroundcolor : #FFFFFF;
    --primary-color : black;
}

body{
    background-color: var(--primary-backgroundcolor);
    color: var(--primary-color);
}


.para{
    background-color: var(--primary-color);
    color: var(--primary-backgroundcolor);
}